############################################################
# Configuration of external libraries -- not all are needed
############################################################

############## Paths to edit ################

#set the following item to 0 if tinyxml is not present
HAVE_TINYXML=1
#set the tinyxml directory
TINYXML = $(HOME)/tinyxml

# math package
#set the following item to zero if GSL is not present
HAVE_GSL=0
#set the directory for GSL include files (may be empty if in /usr/include)
GSL_DIR=
#set the following 3 items to zero if CLAPACK is not present
HAVE_CLAPACK=0
HAVE_LAPACK=0
HAVE_BLAS=0
CLAPACK_DIR = $(HOME)/CLAPACK

# comment out the following line if isinf,isnan,finite are not defined
# on your system
MATH_DEFINES+= HAVE_DECL_ISINF HAVE_DECL_ISNAN HAVE_DECL_FINITE
# uncomment the following if you want to use IEEE comparisons to test
# nan,inf,finite numbers
#MATH_DEFINES+= HAVE_IEEE_COMPARISONS

## Default Settings
# optimization package
HAVE_GLPK=1
# indicate directory of GLPK header files (may be empty for /usr/include)
GLPK = 

# GLdraw package
HAVE_GLUT=1
HAVE_GLUI=1
# indicate directory of GLUT header files (may be empty for /usr/include)
GLUT=
# indicate directory for GLUI header files (may be empty for /usr/include)
GLUI = $(HOME)/glui-2.36

# Assimp 3D mesh loading library
HAVE_ASSIMP=0
ASSIMP=$(HOME)/assimp--3.0.1270-sdk

############## End paths to edit ################



#determine OS type

uname_O := $(shell sh -c 'uname -o 2>/dev/null || echo not')
uname := $(shell sh -c 'uname -o 2>/dev/null || echo not')

CYGWIN = 0
LINUX = 0
MAC_OS_X = 0
ifeq ($(uname_O),Cygwin)
	CYGWIN = 1
endif
ifeq ($(uname),Linux)
	LINUX = 1
endif
ifeq (OSTYPE,MacOSX)
	MAC_OS_X = 1
endif


MATH_DEFINES += HAVE_GSL=$(HAVE_GSL) HAVE_CLAPACK=$(HAVE_CLAPACK) HAVE_LAPACK=$(HAVE_LAPACK) HAVE_BLAS=$(HAVE_BLAS)
ifeq ($(HAVE_CLAPACK),1)
  MATH_INCDIR += $(CLAPACK_DIR) $(CLAPACK_DIR)/F2CLIBS $(CLAPACK_DIR)/BLAS/WRAP
endif
ifeq ($(HAVE_GSL),1)
  MATH_INCDIR += $(GSL_DIR)
endif


OPTIMIZATION_DEFINES += HAVE_GLPK=$(HAVE_GLPK) 
ifeq ($(HAVE_GLPK),1)
	OPTIMIZATION_INCDIR += $(GLPK)
endif


GLDRAW_DEFINES += HAVE_GLUT=$(HAVE_GLUT) HAVE_GLUI=$(HAVE_GLUI) GLUT_DISABLE_ATEXIT_HACK
ifeq ($(HAVE_GLUT),1)
  GLDRAW_INCDIR += $(GLUT)
endif
ifeq ($(HAVE_GLUI),1)
  GLDRAW_INCDIR += $(GLUI)/include
endif

# geometry package -- already contains PQP
PQP = geometry/PQP
GEOMETRY_DEFINES += HAVE_PQP=1
GEOMETRY_EXTRAOBJS += $(PQP)/lib/*.o
GEOMETRY_INCDIRS += ../$(PQP)/include

# statistics package
ifeq ($(HAVE_GSL),1)
  STATISTICS_INCDIR += $(GSL_DIR)
endif

# meshing package
ASSIMPINCDIR=$(ASSIMP)/include

KRISLIBRARY_EXTRAOBJS = $(GEOMETRY_EXTRAOBJS) $(OPTIMIZATION_EXTRAOBJS) $(MATH_EXTRAOBJS)






